[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/chainlink-evm"]
	path = lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
